<!DOCTYPE html>
<html>
<body style="background:black; text-align:center; padding-top:50px">
  <img 
    src="assets/img/imoggogi%20bg.png.png" 
    style="width:400px; border:2px solid red"
  >
</body>
</html>
