body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
}

/* SIDEBAR */
.sidebar {
    width: 90px;
    background: #050505;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
    border-right: 1px solid #111;
}

.logo-container {
    text-align: center;
    cursor: pointer;
}

.sidebar-logo {
    width: 45px;
    transition: 0.3s;
}

#logoText {
    display: none;
    font-size: 20px;
    color: #4aa8ff;
    font-weight: bold;
}

/* EXPANDED SIDEBAR */
.sidebar:hover {
    width: 200px;
}

.sidebar:hover #logoText {
    display: block;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    background: #0a0a0a;
    color: #4aa8ff;
}

/* PAGE WRAPPER */
.page {
    margin-left: 90px;
    padding: 20px 40px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar input {
    width: 400px;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #0d3b5d;
    background: #000;
    color: #4aa8ff;
}

/* BUTTONS */
.glow-btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background: #0d3b5d;
    transition: 0.25s;
}

.glow-btn:hover {
    box-shadow: 0 0 12px #0d6efd;
    background: #1082ff;
}

.big {
    padding: 15px 25px;
    font-size: 18px;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: relative;
}

.hero-gogi {
    width: 380px;
    filter: drop-shadow(0 0 25px rgba(0, 120, 255, 0.2));
}

.hinkali-floating {
    position: absolute;
    right: 0;
    top: 0;
    width: 380px;
    opacity: 0.25;
    pointer-events: none;
}

/* TEXT */
.blue {
    color: #34a9ff;
}

/* TRENDING */
.trending h2 {
    margin-top: 40px;
    font-size: 28px;
}

.trending-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.token-card {
    background: #0a0a0a;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid #111;
    transition: 0.25s;
}

.token-card:hover {
    border-color: #1f6dff;
    box-shadow: 0 0 15px rgba(0, 110, 255, 0.3);
}

.token-img {
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.mc {
    color: #4aa8ff;
    font-size: 14px;
}

.bar {
    width: 100%;
    height: 5px;
    background: #222;
    border-radius: 4px;
    margin-top: 4px;
}

.fill {
    height: 100%;
    background: #1082ff;
    border-radius: 4px;
}
