/* GLOBAL */
body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #000;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #000;
    border-bottom: 1px solid #111;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 42px;
    margin-right: 12px;
}

.nav-title {
    font-size: 22px;
    font-weight: 700;
}

.nav-right a {
    margin-left: 25px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    opacity: 0.85;
}

.nav-right a:hover {
    opacity: 1;
}

/* HERO */
.hero {
    padding: 80px;
    display: flex;
    align-items: center;
}

.hero-gogi {
    width: 380px;
    margin-right: 70px;
    filter: drop-shadow(0 0 30px rgba(0, 110, 255, 0.6));
}

.hero-text h1 {
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
}

.blue {
    color: #4da3ff;
    text-shadow: 0 0 15px rgba(0,110,255,0.8);
}

/* BUTTONS */
.btn {
    padding: 12px 26px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 12px;
    font-size: 16px;
}

.primary {
    background: #111;
    border: 2px solid #111;
    color: white;
    box-shadow: 0 0 18px rgba(0,110,255,0.3);
}

.primary:hover {
    border-color: #4da3ff;
    box-shadow: 0 0 25px rgba(0,110,255,0.6);
}

.secondary {
    background: black;
    border: 2px solid white;
    color: white;
}

.secondary:hover {
    border-color: #4da3ff;
}
