/* GLOBAL */
body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Inter, sans-serif;
}

.blue {
    color: #0af;
    text-shadow: 0 0 12px rgba(0,120,255,0.7);
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    background: #000;
    border-bottom: 1px solid rgba(0,120,255,0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo-small {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,150,255,0.5);
}

.brand {
    font-size: 20px;
    font-weight: 700;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-box {
    width: 340px;
    height: 38px;
    border: 2px solid #0af;
    border-radius: 38px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: black;
}

.search-icon {
    width: 18px;
    opacity: 0.8;
}

.search-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

/* NAV BUTTONS */
.nav-right {
    display: flex;
    gap: 14px;
}

.nav-btn {
    padding: 10px 20px;
    background: #009dff;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.2s;
}

.nav-btn:hover {
    background: #0077cc;
    transform: translateY(-2px);
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 80px 80px;
}

.hero-img {
    width: 420px;
    filter: drop-shadow(0 0 25px rgba(0,120,255,0.4));
}

.hero-right {
    max-width: 450px;
}

.subtitle {
    opacity: 0.8;
    margin-bottom: 20px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

/* HERO BUTTONS */
.btn-primary {
    padding: 12px 28px;
    background: #0af;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
}

.btn-outline {
    padding: 12px 28px;
    border-radius: 40px;
    border: 2px solid #0af;
    font-weight: 600;
    cursor: pointer;
}

/* TRENDING */
.trending-section {
    padding: 40px 80px;
}

.trending-wrapper {
    display: flex;
    gap: 20px;
}

.trend-card {
    background: #111;
    border-radius: 16px;
    padding: 15px;
    width: 260px;
    display: flex;
    gap: 15px;
    border: 1px solid #0af2;
}

.trend-card img {
    width: 60px;
    height: 60px;
}

/* HOT TOKENS TABLE */
.hot-table-section {
    padding: 40px 80px;
}

.token-table {
    width: 100%;
    border-collapse: collapse;
}

.token-table th, .token-table td {
    padding: 12px;
    border-bottom: 1px solid #222;
}

.green { color: #0f0; }
.red { color: #f33; }
